<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cyber-launcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>__LAUNCH_SH__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__SUPPORT_DIR__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CYBER_LAUNCHER_NATIVE_GLASS</key>
        <string>1</string>
        <key>CYBER_LAUNCHER_START_VISIBLE</key>
        <string>1</string>
    </dict>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/cyber-launcher.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/cyber-launcher.err</string>
</dict>
</plist>
